/*
 * table of contents:
 * 1. General
 */
body {
    /*font-family: 'Lato',sans-serif;*/
    -webkit-font-smoothing: antialiased;
}

.text-no-decoration, .text-no-decoration:hover {
    text-decoration: none !important;
}

.light-h3 {
    font-size: 24px;
}

/* 
 * flag colors
 */


.btn-fr-blue {
    color: #fff;
    background-color: #416be4;
    border-color: #416be4;
}

.btn-fr-blue:hover {
    color: #fff;
    background-color: #234659;
    border-color: #234659;
}
.btn-fr-blue:focus, .btn-fr-blue.focus {
    color: #fff;
    background-color: #234659;
    border-color: #234659;
}
.btn-fr-blue:active, .btn-fr-blue.active, .open > .btn-fr-blue.dropdown-toggle {
    color: #fff;
    background-color: #234659;
    border-color: #234659;
    background-image: none;
}

.btn-fr-white {
    color: #fff;
    background-color: #E4DFDA;
    border-color: #E4DFDA;
}

.btn-fr-red {
    color: #fff;
    background-color: #dc5959;
    border-color: #dc5959;
}

.btn-fr-red:hover {
    color: #fff;
    background-color: #7A3539;
    border-color: #7A3539;
}
.btn-fr-red:focus, .btn-fr-red.focus {
    color: #fff;
    background-color: #7A3539;
    border-color: #7A3539;
}
.btn-fr-red:active, .btn-fr-red.active, .open > .btn-fr-red.dropdown-toggle {
    color: #fff;
    background-color: #7A3539;
    border-color: #7A3539;
    background-image: none;
}

.btn-outline-fr-blue {
    color: #416be4;
    background-color: transparent;
    background-image: none;
    border-color: #416be4;
}

.btn-outline-fr-white {
    color: #E4DFDA;
    background-color: transparent;
    background-image: none;
    border-color: #E4DFDA;
}
.bt-link {
    position: relative;
}
.bt-link:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #ddd;
    position: absolute;
    left: 0;
    bottom: -4px;
}

.btn-outline-fr-red {
    color: #dc5959;
    background-color: transparent;
    background-image: none;
    border-color: #dc5959;
}

.bg-fr-blue {
    background-color: #416be4;
}

.bg-fr-white {
    background-color: #FFFFFF;
}

.bg-fr-red {
    background-color: #dc5959;
}

/*
 * list
*/

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
 
}

.no-border{
    border: 0;
}

.link-unstyled, .link-unstyled:visited, .link-unstyled:hover, .link-unstyled:active, .link-unstyled:focus, .link-unstyled:active:hover {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
    border-radius: inherit;
    border: inherit;
    outline: inherit;
    box-shadow: inherit;
    padding: inherit;
    vertical-align: inherit;
  }