/*
 * table of contents:
 * 1. navbar
 * 2. ribbon
 * 3. header
 * 4. windows
 * 5. main features
 * 6. company features
 * 7. footer
 * 8. identification : signup/login
 * 9. dashboard
 */

@font-face {
    font-family: 'giorgio';
    src: url('/fonts/giorgio.ttf');
    font-weight: normal;
    font-style: normal;
}
.navbar-brand {
    font-family: giorgio;
    color: rgba(0,0,0,.5) !important;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Lato',sans-serif;
}

/* 1. navbar */

.navbar-nav {
    font-size: 14px;
}

.navbar-nav a {
    margin: 10px;
    font-size: 14px;
}

/* 2. ribbons */

.corner-ribbon{
  width: 100px;
  position: absolute;
  top: 12.5px;
  left: -25px;
  text-align: center;
  line-height: 25px;
  letter-spacing: 1px;
  color: #fff;
  z-index: 1;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  font-weight:bold;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

.corner-ribbon.top-left{
  top: 12.5;
  left: -25;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* 3. header : headtitle */

.headtitle {
    margin-top :50px;
}

.headtitle h1{
    font-weight: 300;
}

.headtitle h6{
    color: rgb(156,156,156);
    font-weight: 300;
}

/*4. windows */
.windows {
    margin-top:50px;
    margin-bottom:50px;
}

.window {
	background: #fff;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 4px;
    width: 400px;
    text-align: left;
}

.window-header {
	background: rgb(232, 232, 232);
	padding-left: 5px;
}

.window-bullet {
  	background: rgb(195, 195, 195);
  	height: 12px;
  	width: 12px;
  	display: inline-block;
  	border-radius: 100%;
  	text-align:left;
}

.red {
  	background: rgb(255,96,89);
}

.yellow {
  	background: rgb(255,189,46);
}

.green {
  	background: rgb(41,205,66);
}

.window-title {
	text-align:center;
  	display: inline-block;
	width: 300px;
  	font: 14px "Arial";
}

.window-body .prefix {
  	font-size: 10px;
	padding-left: 5px;
}

.window-body .command {
  	font-size: 11px;
	padding-left: 3px;
    font-weight: bold;
}

.window-body .output {
    color: rgb(156,156,156);
    font-weight: 300;
    font-style: italic;
  	font-size: 10px;
	padding-left: 5px;
}

/* 5. main features */

.mainfeatures {
    background-color: #fff;
    border-radius: 4px;
}

.mainfeatures h2 {
    margin-top :20px;
    margin-bottom :50px;
    font-weight: 300;
}

.mainfeatures h3 {
    font-weight: 300;
}

.mainfeatures .row > .info {
    margin-bottom: 50px;
}
/* 6. company features */

.companyfeatures {
    border-radius: 4px;
}

.companyfeatures h2 {
    margin-top :20px;
    margin-bottom :50px;
    font-weight: 300;
}

.companyfeatures h3 {
    font-weight: 300;
}

.companyfeatures .row > .info {
    margin-bottom: 50px;
}

/* 7. footer */
.footer {
    margin-top:50px;
}

.footer-link {
    text-decoration: none;
    color: #fff;
}

/* 8. identification */
.identification h2 {
    margin-top :20px;
    margin-bottom :50px;
    font-weight: 300;
}

.identification h3 {
    font-weight: 300;
}

/* 9. dashboard */
.dashboard h1 {
    font-weight: 300;
}

.text-weight-light {
    font-weight: 100;
}
