/*
 * table of contents:
 * 1. Font
 * 2. Size
*/

@font-face {
    font-family: 'giorgio';
    src: url('/fonts/giorgio.ttf');
    font-weight: normal;
    font-style: normal;
}
.navbar-brand {
    font-family: giorgio;
    color: rgba(0,0,0,.5) !important;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
}


/* 2. Size */

.navbar-nav {
    font-size: 14px;
}

.navbar-nav a {
    margin: 10px;
    font-size: 14px;
}

