/*
 * table of contents:
 * 1. General
*/

.window {
	background: #fff;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 3px;
    width: 400px;
    text-align: left;
}

.window-header {
	background: rgb(232, 232, 232);
	padding-left: 5px;
	border-bottom: 1px solid rgb(195, 195, 195);
}

.window-bullet {
  	background: rgb(195, 195, 195);
  	height: 12px;
  	width: 12px;
  	display: inline-block;
  	border-radius: 100%;
	text-align:left;
	margin-left:3px;
}

.red {
  	background: rgb(255,96,89);
}

.yellow {
  	background: rgb(255,189,46);
}

.green {
  	background: rgb(41,205,66);
}

.window-title {
	text-align:center;
  	display: inline-block;
	width: 300px;
  	font: 14px "Arial";
}

.window-body .prefix {
  	font-size: 10px;
	padding-left: 5px;
}

.window-body .command {
  	font-size: 11px;
	padding-left: 3px;
    font-weight: bold;
}

.window-body .output {
    color: rgb(156,156,156);
    font-weight: 300;
    font-style: italic;
  	font-size: 10px;
	padding-left: 5px;
}
