/*
 * table of contents:
 * 1. navbar
 * 2. header
 * 3. windows
 * 4. main features
 * 5. company features
 *
 */


@font-face {
    font-family: 'testing';
    src: url('static/fonts/testing.otf');
    font-weight: normal;
    font-style: normal;
}
.navbar-brand {
    color: rgba(0,0,0,.5) !important;
    font-size: 14px;
    /*font-family: 'testingg';
    text-transform: uppercase;*/
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Lato',sans-serif;
}

/* 1. navbar */
.navbar-nav {
    font-size: 14px;
}

.navbar-nav a {
    margin: 10px;
    font-size: 14px;
}

/* 2. header : headtitle */

.headtitle {
    margin-top :50px;
}

.headtitle h1{
    font-weight: 300;
}

.headtitle h6{
    color: rgb(156,156,156);
    font-weight: 300;
}

/*3. windows */
.windows {
    margin-top:50px;
    margin-bottom:50px;
}

.window {
	background: #fff;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 4px;
    width: 400px;
    text-align: left;
}

.window-header {
	background: rgb(232, 232, 232);
	padding-left: 5px;
}

.window-bullet {
  	background: rgb(195, 195, 195);
  	height: 12px;
  	width: 12px;
  	display: inline-block;
  	border-radius: 100%;
  	text-align:left;
}

.red {
  	background: rgb(255,96,89);
}

.yellow {
  	background: rgb(255,189,46);
}

.green {
  	background: rgb(41,205,66);
}

.window-title {
	text-align:center;
  	display: inline-block;
	width: 300px;
  	font: 14px "Arial";
}

.window-body .prefix {
  	font-size: 10px;
	padding-left: 5px;
}

.window-body .command {
  	font-size: 11px;
	padding-left: 3px;
    font-weight: bold;
}

.window-body .output {
    color: rgb(156,156,156);
    font-weight: 300;
    font-style: italic;
  	font-size: 10px;
	padding-left: 5px;
}

/* 4. main features */

.mainfeatures {
    background-color: #fff;
    border-radius: 4px;
}

.mainfeatures h2 {
    margin-top :20px;
    margin-bottom :50px;
    font-weight: 300;
}

.mainfeatures h3 {
    font-weight: 300;
}

.mainfeatures .row > .info {
    margin-bottom: 50px;
}
/* 5. company features */

.companyfeatures {
    border-radius: 4px;
}

.companyfeatures h2 {
    margin-top :20px;
    margin-bottom :50px;
    font-weight: 300;
}

.companyfeatures h3 {
    font-weight: 300;
}

.companyfeatures .row > .info {
    margin-bottom: 50px;
}
/* 6. */
