{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Baguette.io</title>
    <link href="{% static "base/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "base/css/font-awesome.min.css" %}"  rel="stylesheet">
    <link href="{% static "base/css/animate.min.css" %}"  rel="stylesheet"> 
    <link href="{% static "base/css/lightbox.css" %}"  rel="stylesheet"> 
    <link href="{% static "base/css/main.css" %}"  rel="stylesheet">
    <link href="{% static "base/css/responsive.css" %}"  rel="stylesheet">

    <link rel="shortcut icon" href="{% static "base/images/ico/favicon.ico" %}">
</head><!--/head-->

<body>
	<header id="header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 overflow">
                   <div class="social-icons pull-right">
                        <ul class="nav nav-pills">
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
             </div>
        </div>
        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <h1><img src="{% static "base/images/logo.png" %}" alt="logo"></h1>
                    </a>

                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="{%block navhome %}{%endblock %}"><a href="/">Home</a></li>
                        <li class="{%block navprice %}{%endblock %}"><a href="url 'pricing'">{% trans "Pricing" %}</a></li>
                        <li class="{%block navabout %}{%endblock %}"><a href="url 'about'">{% trans "About" %}</a></li>
                        <li class="{%block navsignin %}{%endblock %}"><a href="{% url 'signin' %}">{% trans "Signin" %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!--/#header-->
    {% block maincontent %}{% endblock %}
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center bottom-separator">
                    <img src="{% static "base/images/home/under.png" %}" class="img-responsive inline" alt="">
                </div>
                <div class="col-sm-12">
                    <div class="copyright-text text-center">
                        <p>&copy; baguette.io 2016. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->

    <script type="text/javascript" src="{% static "base/js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "base/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "base/js/lightbox.min.js" %}"></script>
    <script type="text/javascript" src="{% static "base/js/wow.min.js" %}"></script>
    <script type="text/javascript" src="{% static "base/js/main.js" %}"></script>   
</body>
</html>
