{% extends "base/base.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap3 %}
{%block navsignup %}active{%endblock %}
{%block maincontent %}
	<div class="colntainer">
        <h2 class="page-header" style="margin-left:10px">{% trans "Signup" %}</h2>
    </div>
    <div class="container">
        <form action="{% url 'signup' %}" method="post" class="form-signup">
    		{% csrf_token %}
    		{% bootstrap_form form %}
    		{% buttons %}
        	<button type="submit" class="btn btn-lg btn-primary btn-block">
            	{% trans "Signup" %}
        	</button>
    		{% endbuttons %}
			<hr />
			<a href="{% url 'signin' %}">
				<button type="button" class="btn btn-lg btn-success btn-block">{% trans "Signin" %}</button>
			</a>
		</form>
    </div>
{% endblock %}
