{% load i18n %}
<div id="addVPC" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{% trans "Create VPC" %}</h4>
      </div>
      <div class="modal-body">
         <div class="alert alert-danger alert-dismissable alert-link" style="display:none;"></div>
         <form class="form-inline" id="addVPC-form" name="addVPC-form">
		  <div class="form-group">
			<div class="input-group">
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-pencil"></span>
				</div>
            	<input type="text" name="name" class="form-control" placeholder="{% trans 'VPC name' %}"/>
			</div>
		  </div>
          <button type="submit" class="btn btn-primary">{% trans "Create" %}</button>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
      </div>
    </div>
  </div>
</div>
